* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

/* Typography */

h1 {
  text-align: center;
  color: #1f2937;
}

/* Sections */

.color-form {
  background-color: #1f2937;
  padding: 1.25em 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

form {
  display: flex;
  justify-content: center;
  gap: 1.25em;
  padding: 0 0.63em;
}

select,
button,
input {
  border: 1px solid #9ca3af;
  border-radius: 3px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

input,
select {
  background-color: transparent;
}

button,
select {
  color: #ffffff;
  padding: 0.63em;
}

button {
  background-color: #3d4b60;
}

.color-scheme,
footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* Color Blocks */

.color-scheme {
  grid-auto-rows: 50vh;
}

img {
  max-width: 100%;
  height: 100%;
}

footer {
  background-color: #1f2937;
  justify-items: center;
  padding: 1.25em 0;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
