* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

/* Typography */

h1 {
  text-align: center;
}

/* Sections */

.color-form {
  background-color: #10403b;
  padding: 1.25em 0;
}

form {
  display: flex;
  justify-content: center;
  gap: 1.25em;
  padding: 0 0.63em;
}

select,
button,
input {
  border: 1px solid #9ca3af;
  border-radius: 3px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

input,
select {
  background-color: transparent;
}

button,
select {
  color: #bfbfbf;
  padding: 0.63em;
}

button {
  background-color: #127369;
}

/* Color Blocks */

.color-scheme {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

img {
  max-width: 100%;
  height: 100vh;
}
